# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [81]:
-- Code here:
SELECT TOP 10 LEN(title) AS 'Length of Longest Title', title
FROM BooksDB.dbo.books
ORDER BY 'Length of Longest Title' DESC;

Length of Longest Title,title
186,"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"
174,"Bright Lights, Big Ass: A Self-Indulgent, Surly, Ex-Sorority Girl's Guide to Why It Often Sucks in the City, or Who Are These Idiots and Why Do They All Live Next Door to Me?"
167,The Unofficial Harry Potter Cookbook: From Cauldron Cakes to Knickerbocker Glory--More Than 150 Magical Recipes for Wizards and Non-Wizards Alike (Unofficial Cookbook)
165,"The Art Spirit: Notes, Articles, Fragments of Letters and Talks to Students, Bearing on the Concept and Technique of Picture Making, the Study of Art (Icon Editions)"
163,"Bitter Is the New Black: Confessions of a Condescending, Egomaniacal, Self-Centered Smartass, Or, Why You Should Never Carry A Prada Bag to the Unemployment Office"
151,"Julie and Julia: 365 Days, 524 Recipes, 1 Tiny Apartment Kitchen: How One Girl Risked Her Marriage, Her Job, and Her Sanity to Master the Art of Living"
150,"The Happiness Project: Or Why I Spent a Year Trying to Sing in the Morning, Clean My Closets, Fight Right, Read Aristotle, and Generally Have More Fun"
148,"The China Study: The Most Comprehensive Study of Nutrition Ever Conducted And the Startling Implications for Diet, Weight Loss, And Long-term Health"
146,"The Twilight Saga Breaking Dawn Part 1: The Official Illustrated Movie Companion (The Twilight Saga: The Official Illustrated Movie Companion, #4)"
146,"The Belgariad Boxed Set: Pawn of Prophecy / Queen of Sorcery / Magician's Gambit / Castle of Wizardry / Enchanters' End Game (The Belgariad, #1-5)"

In [17]:
SELECT  title
FROM BooksDB.dbo.books
WHERE LEN(title) = 186;

title
"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [80]:
-- Code here:
SELECT TOP 10 LEN(authors) AS 'Length of Shortest Name', authors
FROM  BooksDB.dbo.books
ORDER BY 'Length of Shortest Name' ASC;

Length of Shortest Name,authors
3,Avi
3,Avi
4,Zane
5,Tijan
5,Tijan
5,Tijan
5,Hafez
5,Tijan
5,Tijan
5,Hergé

In [19]:
SELECT TOP 10 authors
FROM BooksDB.dbo.books
WHERE LEN(authors) = 3;

authors
Avi
Avi

3\. How many titles contain the word "The"?  

> A. Is there a difference between the number of titles that use "The" or "the"? I ran both "The %" and "the %" and it didn't change the results of the out put.

In [72]:
-- Code here:
SELECT TOP 5 title
FROM BooksDB.dbo.books
WHERE title LIKE 'The %';

title
"The Hunger Games (The Hunger Games, #1)"
The Great Gatsby
The Fault in Our Stars
The Hobbit
The Catcher in the Rye

4.  How many authors' names _start_ with 'Z'?

In [39]:
-- Code here:
SELECT TOP 50 COUNT(authors) AS "Authors with 'Z' Names"
FROM BooksDB.dbo.books
Where authors LIKE 'Z%';

Authors with 'Z' Names
11

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [44]:
-- Code here:
SELECT COUNT(id) AS '# of Books not in English'
FROM BooksDB.dbo.books
WHERE LEFT(language_code, 2) != 'en'

# of Books not in English
186

6\. Retry question 5 using SUBSTRING.

In [45]:
-- Code here:
SELECT COUNT(id) AS "Non-English Languages"
FROM BooksDB.dbo.books
WHERE SUBSTRING(language_code,1,2) != 'en';

Non-English Languages
186

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one? It didn't return any null values. It looks like it just took the nulls out and didn't return anything in that spot.  AKA, Life of Pi for example

In [76]:
-- Code here:
SELECT TOP 10 CONCAT_WS(' by ', title, CONCAT_WS(' in ', authors, language_code)) AS 'Books with Author and Language'
FROM BooksDB.dbo.books;

Books with Author and Language
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng
The Fault in Our Stars by John Green in eng
The Hobbit by J.R.R. Tolkien in en-US
The Catcher in the Rye by J.D. Salinger in eng
"Angels & Demons (Robert Langdon, #1) by Dan Brown in en-CA"
Pride and Prejudice by Jane Austen in eng

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL? Yes, by using the REPLACE() method inside the COALESCE() method.

In [77]:
-- Code here:
SELECT TOP 10 CONCAT_WS(' by ', title, authors) + ' in ' +  COALESCE(null, language_code, REPLACE('NULL', 'NULL', 'Unknown')) AS 'Books with Author and Language'
FROM BooksDB.dbo.books

Books with Author and Language
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng
The Fault in Our Stars by John Green in eng
The Hobbit by J.R.R. Tolkien in en-US
The Catcher in the Rye by J.D. Salinger in eng
"Angels & Demons (Robert Langdon, #1) by Dan Brown in en-CA"
Pride and Prejudice by Jane Austen in eng

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL? yes

In [78]:
-- Code here:
SELECT  TOP 10 CONCAT_WS(' by ', title, authors) + ' in ' + ISNULL(language_code, 'Unknown') AS 'Books with Author and Language'
FROM BooksDB.dbo.books

Books with Author and Language
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng
The Fault in Our Stars by John Green in eng
The Hobbit by J.R.R. Tolkien in en-US
The Catcher in the Rye by J.D. Salinger in eng
"Angels & Demons (Robert Langdon, #1) by Dan Brown in en-CA"
Pride and Prejudice by Jane Austen in eng